$font-family:"Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
$font-size:12px;


#mallPage{
    width:100%;
}
#mallPage #site_nav{
    height:32px;
    background-color: #ccc;
}
#mallPage #header{
    height:130px;
}
#mallPage #content{
    .main_nav{
        height:35.5px;
        background-color: #ff9;
    }    
    .j_category{
        height:500px;
        background:#99f;
    }
}
